:root {
--brand-font: "Roboto", sans-serif;
--sub-brand-font: "Raleway", sans-serif;
--main-brand-color: #4d5ae5;
--sub-brand-color: #2E2F42;
--text-color:#434455;
--background-color: #F4F4FD;
--main-background-color:#E5E5E5;
--button-color: #4d5ae5;
--white-background-color: #ffffff;
--ocean-background-color: #404BBF;
--transition--dur-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-background-color);
    }

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

image {
    display: block;
}

.button {
    cursor: pointer;
}

/*---header---*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-address {
    font-weight: 800;
    line-height: 1.17;
    font-style: normal;
}

.logo-text {
    color: #2E2F42;
}

.link-logo {
    margin-right: 76px;
   
}
.header-item-link {
    position: relative;
    padding: 24px 0;
    gap: 40px;
    transition: color var(--transition--dur-timing-function);
}

.header-address-list {
    gap: 40px;
}

.contacts:hover, .contacts:focus {
    color: #404bbf;
}

.header-container, .header-nav{
    display: flex;
    align-items: center;
    padding: 24px 0; 
    justify-content: space-between;     
}

.header-nav-link {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 40px;
    color: #404bbf; 
}
.container {
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
} 
.header-item-link:hover, 
.header-item-link:focus {
    color: #404bbf;
}

.active {
   color: #404bbf; 
 }
.active::after {
    content: ''; 
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px; 
    background: #404bbf;   
}


 /* --Hero image--*/
  
.main-title {  
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    min-width: 169px;
    margin: 0 auto;  
    margin-bottom: 48px;
}

 .main-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                     rgba(46, 47, 66, 0.7)),
                    url(../images/office/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 188px 0;
    max-width: 1440px;
    color:#FFFFFF;  
    margin: 0 auto;
   
}

 .main-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4D5AE5;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    transition: background-color 
                250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 button {
    transition: background-color var(--transition--dur-timing-function);
 }

 .hero-container {
    text-align: center;
    
 }
 
.main-btn:hover,
.main-btn:focus {
    background: #404BBF;
}


/* SECTION1*/

.section {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.section-item {
    min-height: 104px;
    min-width: 264px;   
}

.section-item-title {
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42; 
    margin-bottom: 8px;  
}

.section-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-list {
    display: flex;
    gap: 24px; 
}

.section-item-img {
    width: calc((100%-72px)/4);
}
.section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}

/*---Section2---*/

.section-pic-title {
    line-height: 1.11;
    text-align: center;
    color: var(--sub-brand-color);
    margin: auto;
    margin-bottom: 72px;   
}

.section-list-img {
    gap: 24px;
}

.section-item-img {   
    width: calc((100%-48px)/3);
}

.section-pic {
    padding-bottom: 120px;
}


/*--section-TEAM--*/

.section-team {
    background-color: #F4F4FD ;
    padding: 120px 0;
}

.section-title {
    line-height: 1.11;
    text-align: center;
    color:#2e2f42;
    margin-bottom: 72px;
}

.section-team-caption {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42; 
    margin-bottom: 8px;
}

.section-team-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}
.section-team-list {
   gap: 24px;
}

.section-team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px; 
    flex-basis: calc(100% - 72px / 4);  
}
.container-name {
    text-align: center;
    padding: 32px 0;    
}

.socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--button-color);
    border-radius: 50%;
}
.socials-link:hover, .socials-link:focus{
    background-color: #404bbf;
}
.socials-icon {
    fill: var(--background-color);
}

.socials-link {
    transition: background-color var(--transition--dur-timing-function);
}
/*---Section Customers---*/

.customers-section {
    padding: 120px 0;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--sub-brand-color);
    margin-bottom: 72px;
    text-align: center;
}

.customers-list {
    gap: 24px;
}
.customers-list-item {
    width: 168px;
    height: 88px;
    width: calc((100% - 120px) / 6);
    
}
.customers-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item-link:hover,
.customers-item-link:focus{
    border-color: #404bbf;
    color: #404bbf;
}
.customers-link-icon {
    fill: currentColor;
}


/*--Footer--*/

.footer {
    display: flex;
    padding: 100px 0;
    background-color: #2E2F42;
   
}
.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    margin-right: 120px;
}

.footer-link-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;   
}

.logo-footer-text {
    color: #F4F4FD;
}
.footer-text {
    width: 264px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;     
}
 
.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.socials {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.socials-items {
    width: 40px;
    height: 40px;   
    transition: background-color var(--transition--dur-timing-function);     
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    border-radius: 50%;
    transition: background-color var(--transition--dur-timing-function);
}
.footer-socials-link:hover, .footer-socials-link:focus {
    background: #31D0AA;
    ;
}

/**
  |============================
  | ----------PORTFOLIO-------
  |============================
*/

/*---logo---*/


.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;    
}
    
 .logo-text {
        color: #2E2F42;
}


/*---Header---*/


.header {
    border-bottom: 1px solid #e7e9fc;   
    
}

.header-item-link {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
  
}
 
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #434455;
    padding: 24px 0;
    gap: 40px;
    transition: color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover, 
.contacts:focus {
    color: #404bbf;
}
 
.link {
   text-decoration: none;
}

.header-item-link:hover, 
.header-item-link:focus {
    color: #404bbf;
}

.active {
   color: #404bbf; 
 }
.active::after {
    content: ''; 
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px; 
    background: #404bbf;
}

/*---BUTTON---*/


.section-btn {
    padding: 96px 0 120px;
}
.button-list {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}


button {
    display: flex;
    padding: 12px 24px;
    color: var(--button-color);
    background-color: var(--background-color);
    cursor: pointer;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}


.section-item-btn:hover, .section-item-btn:focus {
   color: #FFFFFF;
   background-color: #404BBF;
   border: 1px solid transparent;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
            0px 2px 1px rgba(0, 0, 0, 0.08), 
            0px 2px 2px rgba(0, 0, 0, 0.12);
}
button {
    transition: color var(--transition--dur-timing-function), 
        background-color var(--transition--dur-timing-function), 
        border-color var(--transition--dur-timing-function), 
        box-shadow var(--transition--dur-timing-function);
}
.section-item-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;   
}


/*---IMAGES---*/

img {
    display: block;
}

.img-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.img-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-list-pic {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    flex-basis: calc((100%-72px)/3);  
}

.container-img-text {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.image-link {
    display: block;
    transition: box-shadow var(--transition--dur-timing-function);
}
.image-link:hover, .image-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-thumb:hover .overlay,
.img-thumb:focus .overlay {
    transform: translateY(0%);
}

 /**
      |============================
      |  Modal Window
      |============================
    */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    backdrop-filter: blur(2px);
    transition: opacity var(--transition--dur-timing-function), 
                visibility var(--transition--dur-timing-function); 
}
.modal {
    position: absolute;
    width: 408px;
    min-height: 576px;
    left: 50%;
    top: 50%;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
                 0px 1px 3px rgba(0, 0, 0, 0.12), 
                 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms 
                cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 24px;  
    padding-right: 24px;         
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #E7E9FC;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    border-radius: 4px;
  
}
.modal-close-icon { 
    transition: fill 250ms 
                cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
     fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 72px;
    margin-bottom: 16px;
}
.modal_form {
  
}
.modal-form-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;  
    transition: border-color -250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.modal-form-field:focus {
    outline: none;
    border-color: #4D5AE5;
}

.modal-form-field:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;  
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: color -250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal-form-massage {
   
}

.modal-input-text {
    resize: none;
    width: 100%;
    padding-top: 8px;
    padding-left: 16px;
    border-radius: 4px;   
}
.modal-form-massage {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #8E8F99;
    
}
.modal-input-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
   border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-input-text:focus {
    outline: none;
    border-color: #4D5AE5;
}

.form-container {
    position: relative;
    padding-top: 4px;
    padding-bottom: 8px;
}



.modal-form-check::before {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    content: '';
    margin-right: 8px;
    
}
.modal-form-check {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}


.modal-link {

    text-decoration: none;
}
.modal-link-policy {
    color: #4D5AE5;
}

.modal-check:checked + .modal-form-check::before {
    background-color: #404BBF;
    border-radius: #404BBF ;
    background-image: url();
}

.modal-form-check {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #8E8F99;
    padding-top: 16px;
    padding-bottom: 24px;
}
.form-btn {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4D5AE5;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    /*transition: background-color 
                250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}
.form-btn:hover, .form-btn:focus {
   
    background: #404BBF;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
            0px 2px 1px rgba(0, 0, 0, 0.08), 
            0px 2px 2px rgba(0, 0, 0, 0.12);
}


/**
  |============================
  |    Overlay
  |============================
*/
.img-thumb {
    position: relative;
    overflow: hidden;
}
.overlay {
       line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    color: var(--background-color);
    width: 100%;
    height: 100%;
    background-color: var(--main-brand-color);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-link:hover .overlay,
.image-link:focus .overlay {
    transform: translateY(0%);
}

/**
  |============================
  | skript
  |============================
*/

.header.no-transparency {
    background-color: rgb(67, 68, 85, 0.5);
    backdrop-filter: blur(2px);
}
 .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
 }